* {
    font-family: Roboto;
    display: flex;
    flex-direction: column;
}

title {
    display: none;
}

.hero,
.footer {
    background-color: #1F2937;
}

.top {
    /*display: inline-flex;*/
    justify-content: space-around;
}

.title {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}

.links {
    flex-direction: row;
    /*display: inline-flex;*/
    color: #E5E7EB;
}

a {
    text-decoration: none;
}

.links,
.text {
    color: #E5E7EB;
    font-size: 18px;
}

.heading {
    color: #F9FAF8;
    font-size: 24px;
}

.lefttop {
    width: 400px;
}

img {
    display: inline-block;
    width: 425px;
    background-color: #e5e7eb88;
}

button,
.action {
    background-color: #3882F6;
}

.info {
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
}

.section {
    flex-direction: row;
}

.container {
    flex-direction: column;
}

.box {
    height: 100px;
    width: 100px;
    border: 5px solid #3882F6;
    border-radius: 10px;
}

.words {
    color: #1F2937;
    background-color: #E5E7EB;
    font-size: 36px;
    font-style: light italic;
}