* {
    font-family: Roboto;
    display: flex;
    flex-direction: column;
}

title {
    display: none;
}

.hero,
.footer {
    background-color: #1F2937;
}

/*.top {
    display: inline-flex;
    justify-content: space-around;
}*/

.title {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}

.links {
    flex-direction: row;
    /*display: inline-flex;*/
    color: #E5E7EB;
    justify-content: flex-end;
}

a {
    text-decoration: none;
}

.links,
.text,
.footer {
    color: #E5E7EB;
    font-size: 18px;
}

.heading {
    color: #F9FAF8;
    font-size: 24px;
    justify-content: flex-start;
}

.intro {
    width: 1000px;
    justify-content: center;
}

.lefttop {
    width: 400px;
    display: inline-block;
}

img {
    /*display: inline-block;*/
    width: 425px;
    background-color: #e5e7eb88;
}

#topbutton {
    border-color: #3882F6;
}

button {
    border-radius: 5px;
}

button,
.action {
    color: #E5E7EB;
    background-color: #3882F6;
}

.gallery,
.words,
.footer {
    align-items: center;
    justify-content: center;
}

.info {
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
    /*justify-content: center;*/
}

.section {
    flex-direction: row;
}

.container {
    flex-direction: column;
}

.box {
    height: 100px;
    width: 100px;
    border: 5px solid #3882F6;
    border-radius: 10px;
}

.words {
    color: #1F2937;
    background-color: #E5E7EB;
    font-size: 36px;
    font-style: light italic;
    align-items: center;
}

.quote {
    width: 775px;
}

.action {
    flex-direction: row;
    width: 750px;
    justify-content: space-around;
    align-items: center;
    margin: 60px auto;
    padding: 20px 30px;
    border-radius: 5px;
}

.leftbottom {
    flex-direction: column;
}

#bottombutton {
    border-color: #E5E7EB;
    padding: 0px 5px;
}

#actionbold {
    font-weight: bold;
    font-size: 24px;
}

.footer,
button,
.action {
    font-size: 18px;
}

.footer {
    padding: 20px 0px;
}